node_modules
ui/node_modules
ui/.next
dist
.env
.env.local
clipbot-output
*.mp4
*.mp3
*.webm
.DS_Store
*.webp
ui-standalone
.git
docker
assets
*.txt
!cookies.txt
*.jpg
*.png
test-*
FIX-*
.claude
.claude.json
.claude.json.backup
ui/.claude
ui/.next
