node_modules
dist
.env
clipbot-output
*.mp4
*.mp3
*.webm
.DS_Store
# cookies.txt is included for YouTube auth
*.webp
ui-standalone
ui
.next
.git
docker
prompts
assets
# allow cookies.txt but ignore other txt files
*.txt
!cookies.txt
*.jpg
*.png
test-*
FIX-*
